.root,
html {
  width: 100%;
  height: 100%;
}
.body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.container > div {
  border: 1px solid black;
}
.section {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.container .part1 {
  height: 20%px;
}
.container .part2 {
  border: 1px solid black;
  width: 40%;
}
.container .part3 {
  width: 60%;
}
.container .part1 .rating li {
  float: left;
  list-style: none;
  width: 25px;
  height: 27px;
  background: url("../images/empty.png") no-repeat;
}
.container .part1 .rating .selected {
  background: url("../images/shining.png");
}
.section .main {
  width: 100%;
  height: 100%;
}
.section .main .smalldiv {
  float: left;
  height: 250px;
  width: 250px;
  background: url("../images/small.jpg") no-repeat top left/100% 100%;
  position: relative;
  border: 1px solid black;
}
.section .main .bigdiv {
  float: left;
  height: 400px;
  width: 400px;
  background: url("../images/big.jpg") no-repeat;

  border: 1px solid black;
  display: none;
}
.section .main .movediv {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: rgba(255, 184, 153, 0.5);
  position: absolute;
  display: none;
}
.part2 .banner {
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid black;
  width: 520px;
  height: 280px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.banner .images {
  transition: all linear 0.7s;
}
.banner div.faster {
  transition: none;
}
.banner .images img {
  float: left;
  cursor: pointer;
}
.banner .dots {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: calc(50% - 30px);
  bottom: 25px;
  border-radius: 10px;
}
.banner .dots span {
  float: left;
  width: 12px;
  height: 12px;
  padding: 4px;
  margin: 4px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
.banner .item {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}
.banner div.left {
  top: calc(50% - 15px);
  left: 10px;
}
.banner div.right {
  top: calc(50% - 15px);
  right: 10px;
}
.banner .dots span.selected {
  background-color: orange;
}
